

@charset "UTF-8";
.indexCloud {
  width: 100%;
  height: 100%;
  pointer-events: none; }

  /* *{
    outline: red 1px solid;
  } */
/*雲*/
.index_bgCloud1 {
  /* transform: translate3d(0,0,100px); */
  animation: cloud 4s linear -2s 1;
  opacity: 0;
  z-index: 6; }

.index_bgCloud2 {
  animation: cloud 4s linear -1.5s 1;
  opacity: 0;
  z-index: 5; }

.opa-cloud {
  animation: opa-island 4s linear 0s 1,opa-cloud 4s linear 0s infinite alternate;
  animation-fill-mode: forwards;
  left: -10%;
  top: -10%;
  opacity: 0.2;
  z-index: 4; }

.opa-cloud2 {
  animation: opa-island 4s linear 0s 1,opa-cloud2 4s linear 0s infinite alternate;
  animation-fill-mode: forwards;
  right: -5%;
  top: 25%;
  opacity: 0.2;
  z-index: 4; }

.opa-island {
  animation: opa-island 3s linear 0.5s 1;
  animation-fill-mode: forwards;
  opacity: 0.1;
  z-index: 3; }

/*熱氣球*/
.indexCloud--airBall {
  animation: airBall 20s linear 1s infinite; }

/*雲動畫*/
@keyframes cloud {
  0% {
    transform: perspective(500px) translate3d(0, 0, 0px);
    opacity: 0; }
  100% {
    transform: perspective(500px) translate3d(0, 0, 500px);
    opacity: 0.8; } }

/*島動畫*/
@keyframes opa-island {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

/*島動畫*/
@keyframes opa-cloud {
  form {
    top: 20%; }
  to {
    top: -5%; } }

@keyframes opa-cloud2 {
  form {
    top: 25%; }
  to {
    top: 20%; } }

/*熱氣球動畫*/
@keyframes airBall {
  0% {
    left: -10%; }
  20% {
    top: 2%; }
  40% {
    top: 0%; }
  60% {
    top: 2%; }
  80% {
    top: 0%; }
  100% {
    left: 100%;
    top: 2%; } }

.home_box1--monster {
  position: absolute;
  width: 20%;
  max-width: 200px;
  /* -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));  */ }

#home_box1--monster1 {
  animation: mounsterWalk 3s linear 0s infinite; }

#home_box1--monster3 {
  animation: mounsterWalk 4s linear .5s infinite; }

#home_box1--monster3 img {
  transform: scale(1.3); }

#home_box1--monster5 {
  animation: mounsterWalk 4s linear .6s infinite; }

/*怪獸走路動畫*/
@keyframes mounsterWalk {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) scaleX(1); }
  5% {
    -webkit-transform: translate3d(10%, 10%, 0) scaleX(1); }
  10% {
    -webkit-transform: translate3d(15%, 0%, 0) scaleX(1); }
  15% {
    -webkit-transform: translate3d(20%, 10%, 0) scaleX(1); }
  20% {
    -webkit-transform: translate3d(35%, 0%, 0) scaleX(1); }
  25% {
    -webkit-transform: translate3d(40%, 10%, 0) scaleX(1); }
  30% {
    -webkit-transform: translate3d(45%, 0%, 0) scaleX(1); }
  35% {
    -webkit-transform: translate3d(50%, 10%, 0) scaleX(1); }
  40% {
    -webkit-transform: translate3d(55%, 0%, 0) scaleX(1); }
  45% {
    -webkit-transform: translate3d(60%, 10%, 0) scaleX(1); }
  50% {
    -webkit-transform: translate3d(65%, 0%, 0) scaleX(1); }
  50.01% {
    -webkit-transform: translate3d(60%, 10%, 0) scaleX(-1); }
  60% {
    -webkit-transform: translate3d(55%, 0%, 0) scaleX(-1); }
  65% {
    -webkit-transform: translate3d(50%, 10%, 0) scaleX(-1); }
  70% {
    -webkit-transform: translate3d(45%, 0%, 0) scaleX(-1); }
  75% {
    -webkit-transform: translate3d(40%, 10%, 0) scaleX(-1); }
  80% {
    -webkit-transform: translate3d(35%, 0%, 0) scaleX(-1); }
  85% {
    -webkit-transform: translate3d(20%, 10%, 0) scaleX(-1); }
  90% {
    -webkit-transform: translate3d(15%, 0%, 0) scaleX(-1); }
  95% {
    -webkit-transform: translate3d(10%, 10%, 0) scaleX(-1); }
  100% {
    -webkit-transform: translate3d(0%, 0%, 0) scaleX(-1); } }

html {
  height: 100%; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container {
  width: 100%;
  height: 100%; }
  .container .FE__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%); }
    .container .FE__icon .FE__logo {
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      top: -30px; }
    .container .FE__icon .FE__island {
      top: -20px;
      left: 50%;
      transform: translateX(-50%); }

@media screen and (min-width: 768px) {
  .container .FE__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); } }

.FE__button {
  vertical-align: center; 
}
  .FE__button .FE__button__icon {
    width: 35%;
    position: absolute;
    top: -10px;
    left: -30px;
    transform: rotate(-10deg);
  }

  @media screen and (min-width: 768px) {
    .FE__button .FE__button__icon {
      width: 50%;
      position: absolute;
      top: -100px;
      left:0px;
      right: 0px;
      margin: auto;
      transform: rotate(0deg);
      }
    }

  .FE__button .FE__enter {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #fa951a;
    background-color: #fa951a;
    color:#ffffff;
    border-radius: 10px;
    font-size: 30px;
    font-family: Britannic,GenJyuuGothic-Regular;
    vertical-align: middle; 
  }
    .FE__button .FE__enter:hover {
      border: 2px solid #ef7027;
      background-color: #ef7027;
      color:#282828;
    }


        
  .FE__button .FE__enter2 {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #38c9c1;
    background-color: #38c9c1;
    color:#ffffff;
    border-radius: 10px;
    font-size: 30px;
    font-family: Britannic,GenJyuuGothic-Regular;
    vertical-align: middle; 
  }
    .FE__button .FE__enter2:hover {
      border: 2px solid #32abd2;
      background-color: #32abd2;
      color:#282828;
    }

    @media screen and (min-width: 768px) {
      .FE__button .FE__enter:hover img{
        animation: hotBall 10s linear  1; 
      }
      .FE__button .FE__enter2:hover img{
        animation: hotBall 10s linear  1; 
      }

      @keyframes hotBall {
        0% {transform: translateY(0px);}
        100% {transform: translateY(-1000px);}
      }

    }
